/* 
  Created on : 16-nov-2015, 9:20:15
  Author     : adolfi
*/
header h1 {
  font-weight: 700; 
}

nav ul.container {
  width: 22%;
  font-weight: bold;
}

section.ejercicio h5, section.ejercicio h4 {
  font-weight: 600;
}

section.ejercicio article p span.monos {
  font-family: monospace;
}

header.dentroEjer {
  width: 70%;
  margin: 0 auto;
}

article.dentroEjer form.vehiculo {
  width: 20%;
}

article.dentroEjer form.botonInline {
  display: inline;
}


/* EJERCICIO ZONAS */
article.zonas > div.row {
  margin-top: 1.5%;
}
article.zonas h6 {
  font-weight: bold;
}
article.zonas p span#entr {
  font-style: italic;
}
article.zonas div.porcentaje {
  height: 20px;
  width: 100%;
}
article.zonas div.porcentaje span {
  display: inline-block;
  height: 20px;
}
article.zonas div.porcentaje span.green { 
  background-color: green;
}
article.zonas div.porcentaje span.red {
  background-color: red;
}